.select {
  display: inline-block;
  position: relative;
  min-width: 10rem;

  select {
    position: relative;
    appearance: none;
    outline: none;
    padding: 0.625rem 0.75rem;
    border: 1px solid var(--gray-color);
    box-sizing: border-box;
    font-size: inherit;
    line-height: 1em;
    min-height: 2.75rem;
    padding-right: 2rem;
    width: 100%;
    color: var(--text-color);
    border-radius: 0;
    background-color: transparent;

    &:focus {
      border-color: var(--primary-hover-color);
    }
  }

  &::after {
    color: inherit;
    display: inline-block;
    position: absolute;
    content: '';
    right: 0.75rem;
    pointer-events: none;
    top: 45%;
    transform: translateY(-50%) rotate(45deg);
    border: solid var(--text-color);
    border-width: 0 1px 1px 0;
    padding: 0.25rem;
  }
}
