.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);

  &:hover {
    color: var(--primary-hover-color);
  }
}

.cart {
  position: relative;
  display: inline-block;
  color: var(--text-color);
  font-size: 2rem;

  &:hover {
    color: var(--primary-hover-color);
  }
}

.cartBadge {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
