@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --primary-color: #ba3737;
  --primary-hover-color: #9b1d1d;
  --text-on-primary-color: #fefdfd;
  --text-color: #070707;
  --background-color: #fefdfd;
  --second-background-color: #fafafa;
  --gray-color: #949494;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --backdrop-color: rgba(0, 0, 0, 0.7);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1280px;
  box-sizing: border-box;
}

#root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
