.container {
  display: flex;
  max-width: 200px;
  height: 100%;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.list {
  flex: 1;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
  padding: 4px;
  background-color: transparent;
  outline: none;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: lightgray;
  }
}

.active {
  background-color: lightgray;
}

.img {
  width: 48px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  font-weight: bold;
}
